#system {
  text-align: center;
  max-width: 800px;
  margin: 20px auto;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 2px 2px 5px gray;
}

/* body {
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 5px 2px 2px 5px gray;
} */

form {
  display: flex;
  justify-content: center;
  padding: 50px;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 18px;
  font-weight: 700;
}

input {
  margin: 0px 0px 10px 0px;
}

button {
  width: 100px;
  height: 30px;
  background-color: rgb(63, 230, 63);
  border: none;
  border-radius: 5px;
  font-size: medium;
  cursor: pointer;
}

#display {
  margin: 5px;
  padding: 8px;
  border: 1px solid black;
  text-align: left;
}
